 html{
    overflow-x: hidden;
} 
header{
    /* height: 70vh; */
    background: linear-gradient( rgb(205, 154, 25) 3%, goldenrod 20%, rgb(243, 199, 89) 70% );
    
}
body{
   overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header label{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    position: relative;
    top: 0.3rem;
  
}
nav{
    display: flex;
    gap: 14rem;
    height: 1rem;
}
nav ul{
    /* float: right; */
   margin: 20px;
}
nav ul li{
    display: inline-block;
    margin-left: 1.7rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 1.3rem;
    border-radius: 3px;
    

}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    position: relative;
    left: 1.5rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.couch img{
    width: 16.5rem;
}
.parent-couch{
    text-align: center;
}
.login{
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 8px;
    height: 47px;
    width: 100px;
    border: none;
    font-size: 1.2rem;
    margin-left: 5.5rem;
    margin-top: 0.8rem;
}
.login:hover, .sign-up:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.sign-up{
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 47px;
    width: 100px;
    border: none;
    font-size: 1.2rem;
}
header .couch{
    margin-top: 17rem;
    position: relative;
    top: 2rem;
}
.flex{
  /* margin: 0 auto ; */
}
 .long-flex1{
    width: 10rem;
    height: 18rem;
    background-color: black;
    border-radius: 15px;
    color: white;
    position: relative;
 
    /* left: 4.4rem; */
    bottom: 16rem;
    margin: 0 auto ;
   /* margin-bottom: 3rem; */


    
}
.long-flex1 h2{
        color: goldenrod;
        font-size:1.1rem;
        padding-top: 2rem;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bulb-parent{
   text-align: center;
}
.bulb-couch{
    background-color: rgb(17, 15, 15);
    padding: 1.5rem;
    border-radius: 100%;
    margin-top: 1rem;
    
}
.long-flex1 p{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1.2rem;
}
.long-flex1 p span{
  font-size: 0.8rem;
  color: goldenrod;
}
.download{
    width:11rem;
    height: 2.5rem;
    color: black;
    background-color: goldenrod;
    border: none;
    border-radius: 8px;
    position: relative;
    
}
.download-parent{
   text-align: center;
   position: relative;
   bottom: 13rem;
}
.key-icon{
    border: 8px solid goldenrod;
    padding: 1.2rem;
    border-radius: 50%;
    margin-top: 3rem;
}
.flexbox1 h3{
    font-size: 1.3rem;

}
.flexbox1 p{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 1rem;
    
}
.icons{
    text-align: center;
    position: relative;
    bottom: 3rem;
}
.parent-partners{
    justify-content: center;
    align-items: center;
}
 .partners-1, .partners2, .partners3{
  display: flex;
  gap: 1rem;
  justify-content: center;
    align-items: center;
    padding: 1rem;
}  
.square{
    width: 7rem;
    height: 7rem;
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px  ;
}
.square img{
   margin-top: 2rem;
}

 .partners-1 img{
    
    border-radius: 30px;
  
} 
.square-verizon{
    display: none;
}
.our-partners{
   text-align: center;
   margin-top: 5rem;
   
}
.tablesignup{
    background-color: goldenrod;
    padding: 5px;
    border-radius: 6px;
    width: 7.2rem;
    font-size: 1.3rem;
    border: none;


}
.tablesignup:hover{
    background-color: black;
    color: white;
}
.tableandtext{
    padding-left: 1rem;
    margin-top: 4rem;
  
}
.tableflex{
    text-align: center;
}
.tableflex .table{
    width: 15rem;
}
p.relax{
  text-align: center;
  width: 100%;
}
 .lamp-section{
    text-align: center;
    margin: 0 auto;
}
.lamp{
    margin-top: 6rem;
}
.download-lamp{
    background-color: goldenrod;
    border: none;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    top: 2.3rem;
    /* right: 5rem; */
}
.download-lamp:hover{
    background-color: black;
    color: white;
}

.container{

    width: 70%;
    max-width: 300px;
    background-color: transparent;
    border: 10px solid ;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 9rem;
    margin-bottom: 2rem;
}
.container h3{
    margin-left: 1.4rem;
    font-size: 1.1rem;
}
.first-name{
    margin-top:1rem;
}
.formgroup{
    width: 80%;
    margin-top: 1.5rem;
    margin-left: 15px;
    margin: 0 auto;

}

.formgroup input, .formgroup textarea{
    width: 90%;
    padding: 7px;
    border: 4px solid rgb(232, 182, 57);
    margin-top: 5px;
   
}

textarea{
    resize: vertical;
}
.container button{
    width: 8.8rem;
    border: none;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
    color: white;
    background-color: rgb(199, 150, 28);
    margin-left: 1.6rem;
    margin-bottom: 1rem;
    border-radius:  6px;
}
footer{
    background-color: black;
    color: white;
    text-transform: capitalize;
    padding: 1rem;
}
footer ul li{
    font-size: 0.9rem;
    list-style: none;
    line-height: 2rem;
}
footer h3{
    font-size:1.2rem ;
    margin-left: 2rem;
    color: rgba(255, 255, 255, 0.685);
    margin-top: 2.3rem
}

footer svg{
    fill: white;
    padding-left: 1.5rem;
}
footer svg:hover{
    fill: lavender;
}
footer .logo{
    color: rgb(205, 154, 25);
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.1rem;
}


@media screen and (min-width: 641px) {
    header label{
        font-size: 2.4rem;
        font-weight: bold;
        padding-left: 2.5rem;
        position: relative;
        top: 0.7rem;
      
    }
    header .couch{
        position: relative;
        top: 2rem;
        
       
    }
    .couch img{
        width: 90%;
        position: relative;
        top: 6rem;
    }
     .long-flex1{
        width: 16rem;
        height: 30rem;
        background-color: black;
        border-radius: 15px;
        color: white;
        position: relative;
        /* left: 4.4rem; */
        bottom: 24rem;
        margin: 0 auto ;
        margin-bottom: 6rem;
    
        
    }
    .long-flex1 h2{
            font-size:1.8rem;
            padding-top: 3rem;
            position: relative;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .bulb-parent{
       text-align: center;
    }
    .bulb-couch{
        background-color: rgb(17, 15, 15);
        padding: 1.5rem;
        border-radius: 100%;
        margin-top: 3rem;
        width: 3rem;
        
    }
    .long-flex1 p{
        font-size: 1.4rem;
        text-align: center;
        margin-top: 5rem;
     
    }
    .long-flex1 p span{
      font-size: 1rem;
      color: goldenrod;
    }
    .download{
        width:14rem;
        color: black;
        font-size: 1.2rem;
        background-color: goldenrod;
        border: none;
        border-radius: 8px;
        position: relative;
        
    }
    .download:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
    .download-parent{
       text-align: center;
       position: relative;
       bottom: 26rem;
    }
    .flexbox1{
        display: flex;
        position: relative;
        bottom: 15rem;
    }
    .flexbox1 p{
        width: 100%;
        font-size: 1rem;
    }
    .our-partners{
        position: relative;
        bottom: 4rem;
    }
    .parent-partners{
        display: flex;
        gap: 0.5rem;
        align-items: baseline;
        
    }
    .partners3{
       position: relative;
       right: 3rem;
       top: 5.5rem;
    }
    .partners-1 .square-verizon{
        display: none;
    }
    .tableflex{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        justify-content: center;
        align-items: center;
    

    }
    .tablesignup{
        background-color: goldenrod;
        padding: 5px;
        border-radius: 6px;
        width: 5rem;
        font-size: 1.4rem;
        border: none;
        width: 7rem;
        margin-right: 15rem;
    
    
    }
    .tablesignup:hover{
        background-color: black;
        color: white;
    }
    .tableandtext{
        padding-left: 1rem;
        margin-top: 4rem;
      
    }
    .tableflex{
        /* text-align: center; */
        position: relative;
        top: 10rem;
    }
    .tableflex .table{
        width: 80%;
        position: relative;
        right: 3rem;
    }
    h2.relax{
        font-size: 2.3rem;
      
    }
    p.relax{
      width: 80%;
      margin-left:1rem;
      align-items: justify;
    }
     .lamp-section{
       position: relative;
       right: 6rem;
       margin-top: 15rem;
       position: relative;
       top: 20rem;
    }
    .lamp{
        width: 15rem;
    }
    .download-lamp{
        background-color: goldenrod;
        border: none;
        padding: 10px;
        border-radius: 8px;
        position: relative;
        top: 2.3rem;
        right: 14rem;
        width: 13.5rem;
        font-size: 1.2rem;
        height: 3rem;
        
    }
    
    .container{
    
        width: 70%;
        max-width: 300px;
        background-color: transparent;
        border: 10px solid ;
        border-radius: 10px;
        position: relative;
        bottom: 17rem;
        margin-right: 2rem;
   
    }
    .container h3{
        margin-left: 1.6rem;
        font-size: 1.5rem;
    }
    .first-name{
        margin-top:1rem;
    }
    label{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .formgroup{
        width: 90%;
        margin-top: 1.5rem;
        margin-left: 15px;
        margin: 0 auto;

    
    }
    .formgroup input, .formgroup textarea{
        width: 90%;
        padding: 7px;
        border: 4px solid rgb(232, 182, 57);
        margin-top: 5px;
       
    }
    
    textarea{
        resize: vertical;
    }
    .container button{
        width: 8.6rem;
        border: none;
        padding: 10px;
        font-size: 20px;
        margin-top: 15px;
        color: white;
        background-color: rgb(199, 150, 28);
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-radius:  6px;
    }
    footer{
        background-color: black;
        color: white;
        padding: none;
    }
    .footer-parent{
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        text-transform: capitalize;
        line-height: 2rem;
    }
    footer h3{
        font-size: 1rem;
        /* margin-left: 1rem; */
        color: rgba(255, 255, 255, 0.685);
    }
    footer ul li{
        list-style: none;
        font-size: 1rem;
        line-height: 2.2rem;
    }
    footer .logo{
        color: rgb(205, 154, 25);
        /* padding-left: 2rem; */
        padding-top: 6rem;
        font-size: 1.3rem;
    }
    
}

@media screen and (min-width: 1008px) {
    header label{
        font-size: 2.4rem;
        font-weight: bold;
        padding-left: 2.5rem;
        position: relative;
        top: 0.7rem;
      
    }
    header .couch{
        position: relative;
        top: 2rem;
        
       
    }
    .couch img{
        width: 90%;
        position: relative;
        top: 6rem;
    }
     .long-flex1{
        width: 18rem;
        height: 34rem;
        background-color: black;
        border-radius: 15px;
        color: white;
        position: relative;
        /* left: 4.4rem; */
        bottom: 30rem;
        margin: 0 auto ;
    
        
    }
    .long-flex1 h2{
            color: goldenrod;
            font-size:1.8rem;
            padding-top: 3rem;
            position: relative;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .bulb-parent{
       text-align: center;
    }
    .bulb-couch{
        background-color: rgb(17, 15, 15);
        padding: 1.5rem;
        border-radius: 100%;
        margin-top: 3rem;
        width: 3rem;
        
    }
    .long-flex1 p{
        font-size: 1.4rem;
        text-align: center;
        margin-top: 5rem;
       
    }
    .long-flex1 p span{
      font-size: 1rem;
      color: goldenrod;
    }
    .download{
        width:14rem;
        /* height: 2.8rem; */
        color: black;
        font-size: 1.2rem;
        background-color: goldenrod;
        border: none;
        border-radius: 8px;
        position: relative;
        
    }
    .download:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
    .download-parent{
       text-align: center;
       position: relative;
       bottom: 26rem;
    }
    .flexbox1{
        display: flex;
        position: relative;
        bottom: 15rem;
        justify-content: center;
        align-items: center;
        gap: 4.5rem;
    }
    .our-partners{
        position: relative;
        bottom: 4rem;
    }
    .parent-partners{
        display: flex;
        gap: 1rem;
        align-items: baseline;
        
    }
    .icons p{
        width: 20rem;
    }
    .tableflex{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        justify-content: center;
        align-items: center;
    

    }
    .tablesignup{
        background-color: goldenrod;
        padding: 5px;
        border-radius: 6px;
        width: 5rem;
        font-size: 1.4rem;
        border: none;
        width: 7rem;
        margin-right: 15rem;
    
    
    }
    .tablesignup:hover{
        background-color: black;
        color: white;
    }
    .tableandtext{
        padding-left: 1rem;
        margin-top: 4rem;
      
    }
    .tableflex{
        /* text-align: center; */
        position: relative;
        top: 10rem;
    }
    .tableflex .table{
        width: 100%;
        position: relative;
        right: 6rem;
    }
    h2.relax{
        font-size: 2.3rem;
      
    }
    p.relax{
      width: 50%;
      margin-left:12rem;
      align-items: justify;
    }
     .lamp-section{
       position: relative;
       right: 12rem;
       margin-top: 15rem;
       position: relative;
       top: 20rem;
    }
    .lamp{
        width: 15rem;
    }
    .download-lamp{
        background-color: goldenrod;
        border: none;
        padding: 10px;
        border-radius: 8px;
        position: relative;
        top: 2.3rem;
        right: 14rem;
        width: 13.5rem;
        font-size: 1.2rem;
        height: 3rem;
        
    }
    
    .container{
    
        width: 70%;
        max-width: 300px;
        background-color: transparent;
        border: 10px solid ;
        border-radius: 10px;
        position: relative;
        bottom: 17rem;
        margin-right: 15rem;
   
    }
    .container h3{
        margin-left: 1.6rem;
        font-size: 1.5rem;
    }
    .first-name{
        margin-top:1rem;
    }
    label{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .formgroup{
        width: 90%;
        margin-top: 1.5rem;
        margin-left: 15px;
        margin: 0 auto;

    
    }
    .formgroup input, .formgroup textarea{
        width: 90%;
        padding: 7px;
        border: 4px solid rgb(232, 182, 57);
        margin-top: 5px;
       
    }
    
    textarea{
        resize: vertical;
    }
    .container button{
        width: 8.6rem;
        border: none;
        padding: 10px;
        font-size: 20px;
        margin-top: 15px;
        color: white;
        background-color: rgb(199, 150, 28);
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-radius:  6px;
    }
    footer{
        background-color: black;
        color: white;
        padding: none;
    }
    .footer-parent{
        display: flex;
        gap: 5rem;
        text-transform: capitalize;
        line-height: 2rem;
    }
    footer h3{
        font-size: 1rem;
        /* margin-left: 1rem; */
        color: rgba(255, 255, 255, 0.685);
    }
    footer ul li{
        list-style: none;
        font-size: 1rem;
        line-height: 2.2rem;
    }
    footer .logo{
        color: rgb(205, 154, 25);
        /* padding-left: 2rem; */
        padding-top: 0.1rem;
        font-size: 1.3rem;
    }
    
}
@media (max-width:952px){
    label.logo{
        /* font-size: 30px; */
        /* padding-left: 50px; */
    }
    nav ul li a{
        font-size: 10px;
    }
    nav{
        display: inline-block;
        
    }
    nav label{
        position: relative;
        left: 0;
    }

}
@media (max-width:858px){
    nav{
        display: flex;
        flex-direction: row-reverse;
        gap: 0;
     
    }
    nav label{
        color: black;
        font-size: 1.3rem;
        
    }
    
    .checkbtn{
        display: block;
        color: black;
        position: relative;
        text-align: end;
        /* left: 12rem; */
    }
   
    .sign-btn{
        display: none;
    }
   nav ul{
        position: absolute;
        width: 90%;
        height: 100vh;
        background: rgba(199, 150, 28, 0.94);
        z-index: 1;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        margin-right: auto;
        margin-left: auto;
    
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        right: 1rem;
        position: relative;
        line-height: 30px;
        text-transform: uppercase;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    a:hover,a.active{
        background: none;
        color: gray;
    }
    #check:checked~ ul{
        left: 0;
    }
    .login, .sign-up{
        display: none;
    }

}